<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <colgroup>
          <col span="6" style="background:Khaki">
        </colgroup>
        <thead>
        <tr>
          <th>Сотрудник</th>
          <th>Янв</th>
          <th>Фев</th>
          <th>Март</th>
          <th>Итого</th>
          <th>Среднее</th>
        </tr>
        </thead>
        
        <tr>
          <td>Bill</td>
          <td>44</td>
          <td>32</td>
          <td>56</td>
          <td>132</td>
          <td>44</td>
        </tr>
        <tr>
          <td>Steve</td>
          <td>10</td>
          <td>95</td>
          <td>74</td>
          <td>179</td>
          <td>59.67</td>
        </tr>
        <tbody>
        <tr>
            <td>Elen</td>
            <td>0</td>
            <td>150</td>
            <td>75</td>
            <td>225</td>
            <td>75</td>
          </tr>
          <tr>
            <td>Mark</td>
            <td>78</td>
            <td>67</td>
            <td>86</td>
            <td>231</td>
            <td>77</td>
          </tr>
          <tr>
        </tbody>   
        <tfoot>   
            <td colspan="5" style="text-align:right"> Итого: </td>
            <td>132</td>
            <td>344</td>
            <td>291</td>
            <td>767</td>
            <td>255.67</td>
        </tr>
        </tfoot>
      </table>
</body>
</html>